{
  "embeddings": [
    {
      "tensorName": "Class 10 (Jetski) - aPY Test (Proposed Split)",
      "tensorShape": [
        1200,
        2048
      ],
      "tensorPath": "https://raw.githubusercontent.com/Hatsuyuki-Ruth/t-SNE-Visualization-for-D3R/master/data/10_emb.tsv",
      "metadataPath": "https://raw.githubusercontent.com/Hatsuyuki-Ruth/t-SNE-Visualization-for-D3R/master/data/10_meta.tsv"
    }
  ]
}
