{
  "embeddings": [
    {
      "tensorName": "Class 1 (Horse) - aPY Test (Proposed Split)",
      "tensorShape": [
        1200,
        2048
      ],
      "tensorPath": "https://raw.githubusercontent.com/Hatsuyuki-Ruth/t-SNE-Visualization-for-D3R/master/data/1s_emb.tsv",
      "metadataPath": "https://raw.githubusercontent.com/Hatsuyuki-Ruth/t-SNE-Visualization-for-D3R/master/data/1s_meta.tsv"
    }
  ]
}
